* {
	color: #212020;
	font-family: 'Poppins', sans-serif;
	font-style: normal;
	font-weight: normal;
	box-sizing: border-box;
	font-size: 20px;
	line-height: 34px;
}

nav ul {
	list-style: none;
}

.row {
	margin: auto;
}

.blue {
	color: #4A55A4;
	font-weight: bold;
}

.white {
	color: white;
}

a:hover, i:hover {
	color: black;
}

.dark {
	color: 
}

.highlight {
	color: #F2D902;
}

.slim {
	font-weight: 300;
}

hr {
	width: 100%;
}

h1 {
	font-family: 'Rubik', sans-serif;
	font-weight: bold;
	font-size: 66px;
	line-height: 84px;
}

.h1-high {
	font-family: 'Rubik', sans-serif;
	font-weight: bold;
	font-size: 66px;
	line-height: 84px;
	color: #4A55A4;
}

.buttons {
	margin-top: 5%;
}

.buttons img {
	padding-left: 2%;
}

h2 {
	font-weight: bold;
	font-size: 40px;
	line-height: 64px;
	color: white;
}

.h2-high {
	font-weight: bold;
	font-size: 40px;
	line-height: 64px;
	color: #F2D902;
}

.section4 h2 {
	font-weight: bold;
	font-size: 40px;
	line-height: 64px;
	color: #4A55A4;
}

.h2-high {
	font-weight: bold;
	font-size: 40px;
	line-height: 64px;
	color: #F2D902;
}

body{
	background-color: #EDF8F7;
}

.header {
	background: url('img/header.png');
	background-size: cover;
	min-height: 800px;
	display: grid;
}

.section2 {
	min-height: 500px;
	width: auto;
	justify-content: center;
	align-items: center;
	padding: 0 10%;
}

.section3, .section4 {
	min-height: 500px;
	width: auto;
	justify-content: center;
	align-items: center;
	padding: 5% 0;
}

/*customisations for larger screens*/
@media (min-width: 1024px) {
	.section2, .section3, .section4 {
		display: flex;
	}

	.section2 p {
	padding-left: 15%;
	}

	.cst-width {
	width: inherit;
    margin-left: 120px;
	}

	.width-70 {
	width: 70%;
	}

	.copyright {
	margin-left: 10%;
	}

	.copyright-left {
	display: flex;
	}

	.mob-header {
	display: none;
	}

	.width-40{
	max-width: 40%;
	}
}

/*customisations for medium screens*/
@media (min-width: 500px) and (max-width: 1023px) {
	.section3, .section4 {
	padding: 5% 50px;
	}
}

/*customisations for smaller screens*/
@media (max-width: 1023px) {
	.section2 {
		display: grid;
	}

	.section2, .text-right, .section3, .section4 {
		text-align: center;
	}

	.copyright {
		text-align: center;
		display: grid;
	}

	.copyright-right {
		margin: 2% 0;
	}

	.btn {
	height: 100px;
	}

	.header {
		display: none;
	}

	h2 {
	line-height: 54px;
	}

	h1 {
	line-height: 74px;
	}
}

/*customisations for mobile phones*/
@media (max-width: 414px) {
	.mob-header, .section2 {
		padding-bottom: 20px;
	}
}

.section3, .footer {
	background: #4A55A4;
}

.footer {
	min-height: 500px;
	width: auto;
	justify-content: center;
	align-items: center;
	padding-top: 10%;
}

.upper-footer {
	text-align: center;
}

.upper-footer .buttons {
	padding-bottom: 15%;
}

.copyright-left a, i {
	padding: 0 2%;
	color: white;
}

.img {
	max-height: 50%;
	max-width: 50%;
}

.row3 {
	padding-left: 0;
	padding-right: 0;
}