* {
    text-align: center;
    font-family: Play, sans-serif;
    font-style: normal;
    font-weight: normal;
    box-sizing: border-box;
}

body {
    margin:0;
    background-color: #E5E5E5;
}

h2.heading {
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
}

.variety {
    font-size: 0.7rem;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.02em;
    margin-bottom: 5%;
}
/*
section.rooms{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr !important;
    justify-items: center;
    align-items: center;
    grid-gap: 1.5rem;
}*/

@media only screen and (min-width: 1440px){
img.mages {
    width: 272px;
    height: 302px;
}

.rooms {
    margin: 49px 284px 7px 284px;
}

.button {
    margin: 84px auto auto auto;
}}

@media only screen and (min-width: 1025px) and (max-width: 1439px) {
img.mages {
    width: 272px;
    height: auto;
}
.rooms {
    margin: 49px 84px 7px 84px;

}}

@media only screen and (max-width: 1024px){
img.mages {
    width: 272px;
    height: auto;
}

.room1 {
    margin: 10px auto;
}}

.roomtext {
    color: #000000;
    font-weight: bold;
    font-size: 25px;
    line-height: 29px;
    margin: 10px 0px;
    text-transform: uppercase;
}

.roomprice {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #DB8837;
    text-transform: uppercase;
}

input[type="button"]{
    background: #DB8837;
    color: white;
    border: none;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    cursor: pointer;
    width: 244px;
    display: inline-block;
    height: 82px;
    text-transform: uppercase;
}